#experience {
    margin-top: 85px;
}

#experience-title {
    font-size:2em;
    color: #FFECD6;
}

.lang-text {
    margin-top: 10px;
    color: #FFECD6;
    font-size: 1.2em;
}

.row-margin-2 {
    margin-top: 5px;
}